body, html {
    height: 100%;
    margin: auto;
    padding: 20px 20px;
    font-family:  'Sonsie One', cursive;
    color: OldLace;
    background-color: #ADD8E6;
    text-align: center;
     }

     p{
       font-size: larger;
     }
     .header {
        font-size: 3rem;
        text-align: center ;
        color: OldLace;
        text-shadow: 2px 2px 10px black;
    
      }

img {
    width: 500px;
    height: 600px;
}

.item1 { grid-row: 1;
grid-column-start: 1; }

.item2 { grid-row: 1; 
  grid-column-start: 2;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2196F3;
  width: 500px;
  height: 600px;}

.item4 { grid-row: 2; 
  grid-column: 1;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2196F3;
  width: 500px;
  height: 600px;}

.item5 { grid-row: 2; 
  grid-column: 2;}

.grid-container {
  height: fit-content;
  display: grid;
  grid-auto-columns: 100px;
  grid-gap: 600px;
  background-color: #2196F3;
  padding: 40px;
}

.grid-container > div {
  position:sticky ;
 padding: 10px;
 text-align: center;
 font-size: 30px;
}