html{
    background-color: PaleVioletRed;
  }
  .header {
    font-size: 2rem;
    text-align: center;
    color: OldLace;
    text-shadow: 2px 2px 10px black;
  }
  * {box-sizing: border-box}
  
  /* Set height of body and the document to 100% */
  body, html {
    height: 100%;
    margin: 0;
    font-family:  'Sonsie One', cursive;
  }
  
  /* Style tab links */
  .tablink {
    background-color: PaleVioletRed;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: OldLace;
    color: black;
  }
  
  
  .tabcontent {
    color: black;
    display: none ;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: OldLace;}
  #Torrhud {background-color: OldLace;}
  #Normalhud {background-color: OldLace;}
  #Ojligcombohud {background-color: OldLace;}
  
  
  .footer{
    text-align: right;
  }